@charset "UTF-8";
body {
  background: white;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

header {
  margin-top: 32px;
  margin-left: 64px;
  margin-right: 64px;
  margin-bottom: 32px;
  display: flex;
  flex-wrap: nowrap;
}
header .logoKasa {
  display: flex;
}
header nav {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-end;
  flex: 1;
  line-height: 34px;
}
header nav .subMenu {
  font-size: 24px;
  display: flex;
  align-items: flex-end;
  text-align: right;
  width: 12%;
  color: #ff6060;
}
header nav .subMenu:link {
  text-decoration-line: none;
}

.hero {
  position: relative;
  font-style: normal;
  display: flex;
  align-items: center;
  margin-left: 64px;
  margin-right: 64px;
  margin-bottom: 32px;
}
.hero h1 {
  display: flex;
  align-items: center;
  color: white;
  position: absolute;
  justify-content: center;
  z-index: 1;
  font-size: 48px;
  line-height: 68px;
  left: 26%;
  top: 24%;
}
.hero img {
  width: 100vw;
  height: 223px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left center;
     object-position: left center;
  border-radius: 25px;
  background: black;
  mix-blend-mode: darken;
}

main .locationCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(246, 246, 246);
  border-radius: 25px;
  margin-left: 64px;
  margin-right: 64px;
  margin-bottom: 32px;
}
main .locationCards #firstLine {
  display: flex;
  flex: 1;
  margin-top: 16px;
  margin-bottom: 16px;
  justify-content: space-evenly;
}
main .locationCards #secondLine {
  display: flex;
  flex: 1;
  margin-top: 16px;
  margin-bottom: 16px;
  justify-content: space-evenly;
}
main .locationCards .card {
  width: 340px;
  height: 340px;
  border-radius: 15px;
  background-color: #ff6060;
}
main .locationCards .card img {
  width: 100%;
  height: 80%;
  border-radius: 15px;
}
main .locationCards .card p {
  display: flex;
  justify-content: top;
  width: 30%;
  color: white;
  margin-top: 0;
  padding-left: 20px;
  font-size: 18px;
}

footer {
  bottom: 0;
  background-color: black;
  height: 22vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer #copyright {
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  display: flex;
  align-items: flex-end;
  text-align: center;
}
footer #logoFooter {
  position: relative;
}

#notfound {
  font-weight: 700;
  font-size: 288px;
  line-height: 410.69px;
  text-align: center;
  color: #ff6060;
}

#pNotFound {
  font-weight: 500;
  font-size: 36px;
  line-height: 51.34px;
  text-align: center;
  color: #ff6060;
}

#backtoHome {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #ff6060;
  position: relative;
  bottom: 15.53%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration-line: underline;
  margin-bottom: 32px;
}

#mainApropos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(246, 246, 246);
  border-radius: 25px;
  margin-left: 64px;
  margin-right: 64px;
  margin-bottom: 32px;
}
#mainApropos .hero {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 64px;
  margin-right: 64px;
  margin-bottom: 32px;
}
#mainApropos .hero img {
  width: 100vw;
  height: 223px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left center;
     object-position: left center;
  border-radius: 25px;
  background: black;
  mix-blend-mode: darken;
}

.collapsible {
  background-color: #ff6060;
  margin-bottom: 32px;
  color: white;
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  height: 47px;
  width: 1023px;
  border-radius: 5px;
}

.active,
.collapsible:hover {
  color: white;
}

.collapsible:after {
  content: "⌄";
  color: white;
  font-weight: 700;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "⌃";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}/*# sourceMappingURL=style.css.map */